{{- $title := .Title -}}
{{- $description := .Description | default .Site.Params.description -}}
{{- $author := .Params.author | default .Site.Params.author | default .Site.Title -}}
{{- $siteTitle := .Site.Title -}}
{{- $siteURL := .Site.BaseURL | absURL -}}
{{- $pageURL := .Permalink | absURL -}}
{{- $image := "" -}}
{{- $baseURL := strings.TrimSuffix "/" .Site.BaseURL -}}
{{- if .Params.image -}}
    {{- if hasPrefix .Params.image "http" -}}
        {{- $image = .Params.image -}}
    {{- else -}}
        {{- $imagePath := strings.TrimPrefix "/" .Params.image -}}
        {{- $image = printf "%s/%s" $baseURL $imagePath -}}
    {{- end -}}
{{- else if .Site.Params.og_image -}}
    {{- if hasPrefix .Site.Params.og_image "http" -}}
        {{- $image = .Site.Params.og_image -}}
    {{- else -}}
        {{- $imagePath := strings.TrimPrefix "/" .Site.Params.og_image -}}
        {{- $image = printf "%s/%s" $baseURL $imagePath -}}
    {{- end -}}
{{- end -}}

{{- $publishedTime := "" -}}
{{- $modifiedTime := "" -}}
{{- if .Date -}}
    {{- $publishedTime = .Date.Format "2006-01-02T15:04:05Z07:00" -}}
{{- end -}}
{{- if .Lastmod -}}
    {{- $modifiedTime = .Lastmod.Format "2006-01-02T15:04:05Z07:00" -}}
{{- end -}}

{{- $type := "WebPage" -}}
{{- if .IsPage -}}
    {{- $type = "Article" -}}
{{- end -}}
{{- if .IsHome -}}
    {{- $type = "WebSite" -}}
{{- end -}}

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "{{ $type }}",
    {{- if eq $type "Article" }}
    "headline": {{ $title | jsonify }},
    "datePublished": {{ $publishedTime | jsonify }},
    {{- if $modifiedTime }}
    "dateModified": {{ $modifiedTime | jsonify }},
    {{- end }}
    "author": {
        "@type": "Person",
        "name": {{ $author | jsonify }}
    },
    {{- if $image }}
    "image": {{ $image | jsonify }},
    {{- end }}
    "publisher": {
        "@type": "Organization",
        "name": {{ $siteTitle | jsonify }},
        {{- if $image }}
        "logo": {
            "@type": "ImageObject",
            "url": {{ $image | jsonify }}
        }
        {{- end }}
    },
    {{- end }}
    "name": {{ $title | jsonify }},
    "description": {{ $description | jsonify }},
    "url": {{ $pageURL | jsonify }},
    {{- if eq $type "WebSite" }}
    "potentialAction": {
        "@type": "SearchAction",
        "target": {
            "@type": "EntryPoint",
            "urlTemplate": {{ printf "%s/search?q={search_term_string}" $siteURL | jsonify }}
        },
        "query-input": "required name=search_term_string"
    }
    {{- end }}
}
</script>

{{- if eq $type "WebSite" }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Person",
    "name": {{ $author | jsonify }},
    "url": {{ $siteURL | jsonify }}
}
</script>
{{- end }}

